.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal {
    background-color: #f8f9fc;
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.edit-modal:focus {
    outline: none;
}

.title {
    margin: 0 auto;
}

.buttons {
    display: flex;
    align-self: flex-end;
}

.button-modal {
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.button-modal:hover {
    cursor: pointer;
}

.save {
    margin-right: 15px;
    background-color: #00b33f;
    opacity: 0.7;
}

.save:hover {
    background-color: #00822e;
    opacity: 1;
}

.close {
    background-color: #cc0000;
    opacity: 0.7;
}

.close:hover {
    background-color: #990000;
    opacity: 1;
}