.chat-message-list {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    height: 30vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-message-list:focus {
    outline: none;
}

.margin-0 {
    margin: 0;
}

.message-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-style: italic;
}

.message-actions {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.action {
    margin: 0 5px;
    cursor: pointer;
    color: #6e6e6e;
}

.action:hover {
    color: #000000;
}

.edit {
    opacity: 0;
}

.edit:hover {
    opacity: 1;
}

.my-message:hover .edit {
    opacity: 1;
}