.chat-header {
    border: 1px solid black;
    margin: 5px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}

.chat-info {
    display: flex;
}

.chat-name {
    margin: 0 10px;
}

.chat-participants {
    margin: 0 10px;
}

.chat-messages {
    margin: 0 10px;
}

.chat-last-message {
    font-style: italic;
}