.send-area {
    margin: 5px;
    height: 5vh;
    display: flex;
    justify-content: space-around;
}

.input {
    width: 100%;
}

.button {
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #bdbdbd;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.button:hover {
    cursor: pointer;
    background-color: #8a8a8a;
}